body { font-family: Sans-serif; }
pre, code { background-color: #CFCFCF; }

#_toc ol { counter-reset: item }
#_toc li { display: block }
#_toc li a { margin-left: .5em; }
#_toc li:before { content: counters(item, "."); counter-increment: item; }
#_toc li, #_toc ol { padding: 0; margin: 0 }
